<mat-form-field class="w-full px-2" appearance="standard">
  <mat-label>{{label}}</mat-label>
  <mat-date-range-input [min]="minDate" [max]="maxDate" [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Başlangıç" [value]="startDate"
      (dateChange)="startDateChanged($event.value)">
    <input matEndDate formControlName="end" placeholder="Bitiş" [value]="endDate"
      (dateChange)="endDateChanged($event.value)">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
