<mat-form-field appearance="standard" class="w-full px-2">
  <mat-label>{{label}}</mat-label>
  <input type="text" [formControl]="stateCtrl" [value]="selectedItem?.renderText" [matAutocomplete]="auto" matInput>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedItemChanged($event.option.value)">
    <mat-option *ngFor="let item of filteredItems$ | async" [value]="item.renderText">
      {{ item.renderText }}
    </mat-option>
  </mat-autocomplete>
  <button (click)="stateCtrl.reset()" *ngIf="stateCtrl.value" mat-icon-button matSuffix type="button">
    <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
  </button>
  <button *ngIf="!stateCtrl.value" mat-icon-button matSuffix type="button">
    <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
  </button>
</mat-form-field>
